.home-container{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/programmer-night.png");
    object-fit: cover;
    width: 100%;
    height: clamp(16rem, calc(50dvh + 30vh), 100dvh);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}
