.header-container{
    background-color: rgb(226, 222, 222);
}
header{
    position: relative;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
}
ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
nav h2{
    font-size: clamp(0.8rem, calc(2vw + 0.5rem), 1.5rem);
}
ul .li, ul .login-signup{
    display: flex;
    gap: 1.5rem;
    font-size: clamp(0.8rem, calc(2vw + 0.5rem), 1.5rem);
}
ul .login, ul .get-started{
    font-size: clamp(0.8rem, calc(2vw + 0.5rem), 1.5rem);
}
.menu{
    font-size: clamp(1.5rem, calc(2vw + 0.8rem), 1rem);
    display: none;
    color: black;
}
.links{
    display: none;
}
.login-signup{
    align-items: center;
}
.login{
    border: 1px solid darkblue;
    width: 10rem;
    text-align: center;
    height: fit-content;
    font-size: clamp(1rem, calc(2vw + 0.8rem), 1rem);
    border-radius: 10px;
}
.login:hover{
    background-color: darkblue;
    color: white;
    transition: 1s;
}
.get-started{
    background-color: darkblue;
    width: clamp(0.8rem, calc(2vw + 100%), 12rem);
    text-align: center;
    height: fit-content;
    font-size: clamp(1rem, calc(3vw + 0.8rem), 0.8rem);
    color: white;
    border-radius: 10px;
}
.get-started:hover{
    border: 1px solid darkblue;
    background-color: white;
    color: black;
    transition: 1s;
}

